<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.game.myapplication01">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/mindgameico"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/mindgameico"
        android:supportsRtl="true"
        android:theme="@style/Theme.myapplication01">

        <!-- Make HomeActivity the launcher activity -->
        <activity
            android:name=".HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SmallLetterA2ZGameActivity" />
        <activity android:name=".IdentifyObjectsActivity" />
        <activity android:name=".IdentifyBirdsActivity" />
        <activity android:name=".IdentifyFlowersActivity" />
        <activity android:name=".IdentifyList" />

        <!-- A2ZGameActivity declared, but not as the launcher -->
        <activity
            android:name=".A2ZGameActivity"
            android:exported="false" />
        <activity android:name=".AZListingActivity" />
        <activity android:name=".OneTo30Activity" />
        <!-- ErrorActivity declaration -->
        <activity
            android:name=".ErrorActivity"
            android:exported="false" />

    </application>

</manifest>
